 <header class = "header">
    <h2>Clubhouse</h2>
    <div class = "profileStatus">
        <% if (locals.user) { %> 
        <p> Hi <%= _.capitalize(user.username)%> |</p>
         <a href="/logout"> Log Out </a>
         <div class = "statusBox" >
            <span style="display: flex; justify-content: center; align-items: center; gap:4px">
                <p class = "memStatus"><%=locals.user.status%></p>
                <% if (locals.user.status =="MEMBER") { %>
                ▼
                <% } %>
            </span>
            <% if (locals.user && locals.user.status === "MEMBER") { %>
                <a class = " invisibleBox" href="/join-vip"> Be a VIP! </a>
            <% } %>          
         </div>
        
        <% }else{ %>
            <div>
                Status: Guest
                <a href = "/login">Log In</a>
            </div>      
        <%} %>
    </div>
      
    
</header>

<script>
    let statusBox = document.querySelector(".memStatus");
    let memStatus = document.querySelector(".memStatus");
    let invisble = document.querySelector(".invisibleBox");
    if(memStatus && memStatus.textContent.trim() == "MEMBER"){
        statusBox.addEventListener("click", ()=>{
        invisble.classList.toggle("showDropDown")
        })
    }
</script>