 <header class = "header">
    <a href = "/" class = "appName">Clubhouse</a>
    <div class = "profileStatus">
        <% if (locals.user) { %> 
        <p class = 'headerUsername'> Hi <%= _.capitalize(user.username)%> |</p>
        
         <div class = "statusBox" >
            <span style="display: flex; justify-content: center; align-items: center; gap:4px">
                <p class = "memStatus"><%=locals.user.status%></p>
                <% if (locals.user.status =="MEMBER") { %>
                ▼
                <% } %>
            </span>
            <% if (locals.user && locals.user.status === "MEMBER") { %>
                <a class = " invisibleBox" href="/join-vip"> Be a VIP! </a>
            <% } %>          
         </div>
         <a  class = "logoutAnchor" href="/logout"> Log Out </a>
        <% }else{ %>
            <div class = "guestLogInBox">
                <p>Status: Guest | </p>
                <a class = 'loginAnchor' href = "/login">Log In</a>
            </div>      
        <%} %>
    </div>
      
    
</header>

<script>
    let statusBox = document.querySelector(".memStatus");
    let memStatus = document.querySelector(".memStatus");
    let invisible = document.querySelector(".invisibleBox");
    if(memStatus && memStatus.textContent.trim() == "MEMBER"){
        statusBox.addEventListener("click", ()=>{
        invisible.classList.toggle("showDropDown")
        })
    }
    window.addEventListener('click',(e)=>{
        // if the 'MEMBER' button is clicked it does not remove the 'showDropDown' classlist
        if(invisible.classList.contains("showDropDown") && e.target !== memStatus ){
            invisible.classList.remove("showDropDown");
        }
    })
</script>