<section class="messageContainer">
    <% locals?.messages?.forEach(message => { %>
        <article class = "msg">
            <div class = 'authorInfo'>
                <%= _.capitalize(message?.username) %> 
                <%= message?.status %>
                <% if (locals?.user?.status == "VIP" || locals?.user?.status == "ADMIN") { %>
                    <%= message?.date %>
                <% } %>
        
            </div>
            <div class="messageBox">
               => <%= message?.message %>
            </div>
        </article>
        
    <% }); %>
 
</section>
