<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Vip</title>
  </head>
  <body>
    <h3>Sign Up to be a member</h3>
    <form action="/join-vip" method="post">
      <label for="secret">Secret Code </label>
      <input type="text" name="secret" id="secret" required />
      <button>Sign Up</button>
    </form>
  </body>
</html>
