<section class="messageContainer">
    <% locals.messages.forEach(message => { %>
        <article>
            <div class = 'authorInfo'>
                <%= message.username %> 
                <%= message.status %>
                <%= message.date %>
            </div>
            <div class="messageBox">
                <%= message.message %>
            </div>
        </article>
        
    <% }); %>
 
</section>
