* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darkBg: #9dbf9e;
}

.profileStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--darkBg);
}

.status {
  display: flex;
  gap: 0.5rem;
}
